<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<h2>倒せ！キモキモ大魔王!諸岡BBA!!</h2>
		
		<form th:action="@{/battle}" method="get"  >
			<h4>諸岡のキモさを選んでください</h4>
			<select name="LV">
				<option value="1" selected >Easy</option>
				<option value="2">Normal</option>
				<option value="3">Hard</option>
				<option value="4">Very Hard</option>
				<option value="5">Must Die</option>
			</select>
			<input type="submit" value="戦闘開始!">
		</form>
	</body>

</html>