<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		
		<!-- エネミーゾーン -->
		<h2>
			<a th:text="${session.enemy.name}"></a>
		</h2>

		
		<!-- プレイヤーゾーン -->
		<table border="1">
			<tr>
				<th>名前</th>
				<th>HP</th>
				<th>MP</th>
			</tr>
			<tr>
				<td>
					<a th:text="${session.player.name}"></a>
				</td>
				<td>
					<a th:text="${session.battle.playerHp}"></a>
					<a>/</a>
					<a th:text="${session.player.hp}"></a>
				</td>
				<td>
					<a th:text="${session.battle.playerMp}"></a>
					<a>/</a>
					<a th:text="${session.player.mp}"></a>
				</td>
			</tr>
		</table>
		
		<!-- 操作ボタン -->
		<form th:action="@{/}" method="get">
				<div>
					<button type="submit" th:formaction="@{/attack}" th:text="攻撃"></button>
				</div>
		</form>
		
		<!-- ログエリア -->
		<div>
			<ul th:each="me:${session.battle.battleMessage}">
				<li>
					<a th:text="${me}"></a>
				</li>
			</ul>
		</div>
		
	</body>

</html>