<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
    <head>
        <meta charset="utf-8">
        <title>Sample Shopping</title>
        <link th:href="@{/css/styleEc.css}" rel="stylesheet" type="text/css">
    </head>
    
	<body>
		<h3>Sample Shopping</h3>
		
		<!-- 検索画面 -->
		<form th:action="@{/}" method="post" th:object="${goodsQuery}">
				<table border="1">
					<tr>
						<th>商品名</th>
					</tr>
					<tr>
						<td>
							<input type="text" name="name" size="40" th:value="*{name}">
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="red"></div>
						</td>
					</tr>
				</table>		    	
				<div>
					<button type="submit" th:formaction="@{/query}" th:text="検索"></button>
				</div>
	     </form>
	     <br>
		
		<!-- カート情報 -->
		<h3>会計金額<a th:text="${session.basket.totalPrice}"></a></h3>
		<a th:href="@{/basket}">カートを見る。</a>
		<br>
		
		
		<!-- 商品情報 -->
		<table border="1">
			
			<tr>
			   <th>商品名</th>
			   <th>価格</th>
			   <th>カテゴリー</th>
			   <th>個数</th>
			   <th></th>
			</tr>
		       
		    <tr th:each="go:${goodsList}">
				<form th:action="@{/add/__${go.id}__}" method="get"  >
			       <td>
			         <a th:text="${go.name}"></a>
			       </td>
			       <td>
			         <a th:text="${go.price}"></a>
			       </td>
			       <td>
			         <a th:text="${go.category.name}"></a>
			       </td>
			       <td>
					 <select name="quantity">
						<option value="0">0</option>
						<option value="1" selected >1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				   </td>
			       <td>
					   <input type="submit" value="カートに入れる">
				   </td>
				</form>
			 </tr>    
		</table>
			
		<!-- ページ設定 -->
		<div th:if="${goodsList != null && #lists.size(goodsList) != 0}"><!-- 横並びにしたい -->
			<span th:text="|${pageList.getNumber() + 1} / ${pageList.getTotalPages()} ページを表示中|"> </span>
				<ul>
					<li>
					 	<span th:if="${pageList.isFirst()}">←前</span> 
						<a th:unless="${pageList.isFirst()}" th:href="@{/(page = ${pageList.getNumber() - 1})}">←前</a>
					</li>
					<li th:each="i : ${#numbers.sequence(0, pageList.getTotalPages() - 1)}">
						<span th:if="${i == pageList.getNumber()}" th:text="${i + 1}"></span>
						<a th:if="${i != pageList.getNumber()}" th:href="@{/(page=${i})}" th:text="${i + 1}"></a>
					</li>
					<li>
						<span th:if="${pageList.isLast()}">次→</span> 
						<a th:unless="${pageList.isLast()}" th:href="@{/(page = (${pageList.getNumber()+ 1}))}">次→</a>
					</li>
				</ul>
		</div>

		<!-- カテゴリー一覧 -->
		<nav><!-- 横並びにしたい -->
			<div calss="main-nav">
			<ul th:each="ca:${categoryList}">
				<li>
					<a th:href="@{/shop/__${ca.id}__}" th:text="${ca.name}"></a>
				</li>
			</ul>
			</div>				
		</nav>
		
		 
		 <!-- 管理者サイトへ ログイン認証を設ける予定 -->
		 <div>
			 <a th:href="@{/admin}">管理画面</a>
		 </div>
			 
	</body>
</html>
