<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>商品一覧</title>
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	</head>

	<body>
		<h3><a th:text="${category.name}"></a></h3>
		
		<h3>会計金額<a th:text="${session.basket.totalPrice}"></a></h3>
		<a th:href="@{/basket}">カートを見る。</a>
		<br>
		
			<table border="1">
				<tr>
					<th>名前</th>
					<th>価格</th>
					<th>個数</th>
					<th></th>
				</tr>
				
				<tr th:each="goods:${category.goodsList}">
				<form th:action="@{/add/shop/__${goods.id}__}" method="get"  >
					<td>
						<a th:text="${goods.name}"></a>
					</td>
					<td>
						<a th:text="${goods.price}"></a>
					</td>
					<td>
						<select name="quantity">
							<option value="0">0</option>
							<option value="1" selected >1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</td>
					<td>
						<input type="submit" value="カートに入れる">
					</td>
				</form>
				</tr>
			 </table>
			 
			 <nav><!-- 横並びにしたい -->
				<div calss="main-nav">
				<ul th:each="ca:${categoryList}">
					<li>
						<a th:href="@{/shop/__${ca.id}__}" th:text="${ca.name}"></a>
					</li>
				</ul>
				</div>				
			</nav>
			 
		<div>
			<a th:href="@{/}">TOPへ</a>
		</div>

	</body>
	
</html>