<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	

	
	<body>
		
		<!-- エネミーゾーン -->
		<h2>
			<a th:text="${session.monsterData.name}"></a>
		</h2>
		
		<!-- 実験エリア -->
		<table border="1">
			<form th:action="@{/}" method="get">
				<tr>
					<th>魔法</th>
					<th>消費MP</th>
					<th>効果説明</th>
				</tr>
				<tr th:each="pa:${session.monsterData.patternList}">
					<td>
						<a th:href="@{/magic/__${pa.id}__}" th:text="${pa.name}"></a>
					</td>
					<td>
						<a th:text="${pa.mp}"></a>
					</td>
					<td>
						<a th:text="${pa.text}"></a>
					</td>
				</tr>
			</form>
		</table>
		<!-- 実験エリア 終わり-->
		
		
		<!-- プレイヤーゾーン -->
		<table border="1">
			<tr>
				<th>名前</th>
				<th>HP</th>
				<th>MP</th>
			</tr>
			<tr>
				<td>
					<a th:text="${session.allyData.name}"></a>
				</td>
				<td>
					<a th:text="${session.allyData.currentHp}"></a>
					<a>/</a>
					<a th:text="${session.allyData.maxHP}"></a>
				</td>
				<td>
					<a th:text="${session.allyData.currentMp}"></a>
					<a>/</a>
					<a th:text="${session.allyData.maxMP}"></a>
				</td>
			</tr>
		</table>
		
		
		<table border="1">
			<form th:action="@{/}" method="get">
				<tr>
					<th>魔法</th>
					<th>消費MP</th>
					<th>効果説明</th>
				</tr>
				<tr th:each="ma:${session.allyData.magicList}">
					<td>
						<a th:href="@{/magic/__${ma.id}__}" th:text="${ma.name}"></a>
					</td>
					<td>
						<a th:text="${ma.mp}"></a>
					</td>
					<td>
						<a th:text="${ma.text}"></a>
					</td>
				</tr>
			</form>
		</table>
	</body>

</html>