<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	

	
	<body>
		
		<!-- エネミーゾーン -->
		<h3>敵の名前</h3>
		<h2>
			<a th:text="${session.battle.monsterData.name}"></a>
		</h2>
		

		<!-- プレイヤーゾーン -->
		<table border="1">
			<tr>
				<th>名前</th>
				<th>HP</th>
				<th>MP</th>
			</tr>
			<tr th:each="entry:${session.battle.partyMap}">
				<td>
					<a th:text="${entry.value.name}"></a>
				</td>
				<td>
					<a th:text="${entry.value.currentHp}"></a>
					<a>/</a>
					<a th:text="${entry.value.maxHP}"></a>
				</td>
				<td>
					<a th:text="${entry.value.currentMp}"></a>
					<a>/</a>
					<a th:text="${entry.value.maxMP}"></a>
				</td>
			</tr>
		</table>
		
	</body>

</html>