<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	

	
	<body>
		
		<!-- エネミーゾーン -->
		<h3>敵の名前</h3>
		<h2>
			<a th:text="${session.battle.monsterData.name}"></a>
		</h2>
		

		<!-- プレイヤーゾーン -->
		<table border="1">
			<tr>
				<th>名前</th>
				<th>HP</th>
				<th>MP</th>
				<th>攻撃</th>
				<th>魔法</th>
				<th>防御</th>
			</tr>
			<tr th:each="entry:${session.battle.partyMap}">
				<td>
					<a th:text="${entry.value.name}"></a>
				</td>
				<td>
					<a th:text="${entry.value.currentHp}"></a>
					<a>/</a>
					<a th:text="${entry.value.maxHP}"></a>
				</td>
				<td>
					<a th:text="${entry.value.currentMp}"></a>
					<a>/</a>
					<a th:text="${entry.value.maxMP}"></a>
				</td>
				<form th:action="@{/}" method="get">
					<td>
						<div>
							<button type="submit" th:formaction="@{/}" th:text="攻撃"></button>
						</div>
					</td>
					<td>
						<div>
							<button type="submit" th:formaction="@{/magic/__${entry.key}__}" th:text="魔法"></button>
						</div>
					</td>
					<td>
						<div>
							<button type="submit" th:formaction="@{/}" th:text="防御"></button>
						</div>
					</td>
				</form>
			</tr>
		</table>
		
		
		<!-- 魔法選択エリア -->
		<div th:if="${session.mode == 'magic'}">
			<table border="1">
				<form th:action="@{/}" method="get">
					<tr>
						<th>魔法</th>
						<th>消費MP</th>
						<th>効果説明</th>
					</tr>
					<tr th:each="ma:${magicList}">
						<td>
							<a th:href="@{/magic/__${ma.id}__}" th:text="${ma.name}"></a>
						</td>
						<td>
							<a th:text="${ma.mp}"></a>
						</td>
						<td>
							<a th:text="${ma.text}"></a>
						</td>
					</tr>
				</form>
			</table>
		</div>
		
		
		<!-- 戦闘開始ボタン -->
		<div th:unless="${session.mode == 'result'}">
			<form th:action="@{/}" method="get">
				<div>
					<button type="submit" th:formaction="@{/start}" th:text="戦闘開始"></button>
				</div>
			</form>
		</div>
		
	</body>

</html>